<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wowtime">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BlowingGame"/>
        <activity android:name=".ShakingGame" />
        <activity android:name=".About" />
<!--        <activity-->
<!--            android:name=".ScreenSaverActivity"-->
<!--            android:configChanges="orientation|keyboardHidden|screenSize"-->
<!--            android:label="@string/title_activity_screen_saver"-->
<!--            android:theme="@style/FullscreenTheme"></activity>-->
        <activity android:name=".CalculateGameActivity" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".CreditDetailList" />
<!--        <activity android:name=".FriendsList" />-->
<!--        <activity android:name=".PersonInfoDetail" />-->
        <activity android:name=".CreditDetailCard" />
        <activity android:name=".FriendsListCard" />
        <activity android:name=".PersonInfoCard" />
        <activity android:name=".PersonInfo" />
<!--        <activity-->
<!--            android:name=".AlarmList"-->
<!--            android:theme="@style/AppTheme.NoActionBar" />-->
        <activity
            android:name=".GameSetting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RingSetting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TaskListActivity" />

        <activity android:name=".TaskSuccessActivity" />
        <activity android:name=".WhiteListActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity2" />
        <activity android:name=".StatisticActivity" />
        <activity
            android:name=".MainActivity"
            android:label="111"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClockSetting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginActivity1" /> <!-- <activity -->
        <!-- android:name=".MainActivity" -->
        <!-- android:launchMode="standard"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name=".AnotherActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".StatisticWeekActivity" />
        <activity android:name=".StatisticYearActivity" />
    </application>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

</manifest>